body{
	margin: 0px auto;
	font-family: Arial, Helvetica, sans-serif;
}

.navigation{
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 4px 5px 0px  rgb(158, 155, 155);
	padding: 0em 1em;
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: white;
}

.left-nav{
	display: flex;
	align-items: center;    
}

.left-nav .fa-bars{
	font-size: 30px;
	color: rgb(75, 74, 74);
	cursor: pointer;
}

@media(min-width:800px){
	#bars-icon{
		display: none;
	}
}

.left-nav h1{
	color: rgb(9, 117, 117);
	font-family: cursive;
	margin-left: 250px;
}

.right-nav{
	display: flex;
	align-items: center;    
}

li{
  list-style: none;   
} 

.right-nav .fa-user{
	color: rgb(87, 80, 80);
	padding:   0.7em;
	font-size: 20px;
	background-color: rgb(158, 152, 152);
	border-radius: 50%;
	margin-right: 20px;
}

li button{
	padding: 17px 10px 17px 30px;
	border: none;
	margin-right: 20px;
	border-left: 2px solid rgb(122, 119, 119);
	font-weight: 500;
	font-size: 15px;
	background-color: white;
	cursor: pointer;
}
.fixed-sidebar{
	background-color:rgb(95, 95, 95);
	width: 230px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	height: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
}

.fixed-sidebar h1{
	padding: 1em 1em 1em 2em;
	margin-top: 0;
	color: rgb(255, 255, 255);
	font-family: cursive;
	z-index: 1000;
}

.mobile-sidebar{
	display: none;
}

.sidebar-content p{
	padding: 2em 1em 2em 3em;
	color: white;
}

.sidebar-content p:hover{ 
  cursor: pointer;
}
.active {
  background-color: rgb(43, 126, 126) !important;
}

.display:not(:first-child){
  display: none;
}

.sidebar-content{
  padding-top: 4em;
}

.sidebar-content .fa-user{
	font-size: 20px;
	margin-right: 10px;
}


@media(min-width:1200px){
	img{
		margin-left: 200px;
	}
}


@media (max-width: 800px){
	.left-nav h1{
			display: none;
	}
	.fixed-sidebar{
			display: none;
	}
	.hidden{
			display: none;
	}
	.add-flex{
			padding-left: 1em;
	}
    
}

 button:focus{
  outline: 1px solid white;
}

.content{
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 5em;
}

@media(max-width:1200px) and (min-width:850px){
	.content{
		justify-content: center;
		margin-left: 200px;
	}
}

.add-flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Add-new{
  margin-top: 80px;
}

.Add-new h1{
  color: rgb(60, 139, 139);
}

.Add-new p {
  font-size: 18px;
}

img{
	width: 15rem;
	margin-top: 40px;
   
}

@media(max-width:800px) {
	img{
		display: none;
	}
}

.form{
	margin: 20px;
	padding: 7px;
	width: 250px;
	border-radius: 3px;
	border: 1px solid   rgb(60, 139, 139);
}
.select{
	width: 260px;
	margin: 20px;
	border-radius: 3px;
	border: 1px solid  rgb(54, 136, 136);
	padding: 7px;
	background-color: rgb(236, 231, 231);
}
#Add-row{
	margin: 15px;
	padding:  10px;
	color: rgb(49, 155, 155); 
	background-color: white; 
	border: 1px solid rgb(39, 163, 163); 
	font-weight: bolder;
	width: 35%;
}

#Add-row:hover{
	background-color: rgb(94, 95, 95);
	color: white;
}

#Add-intern{
	margin: 20px;
	padding:  10px; 
	background-color: rgb(51, 129, 129); 
	color: white; 
	border: 0px;
	width: 30%;
	cursor: pointer;
}



