body{
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 4px 0px  rgb(158, 155, 155);
    padding: 0.5em;
    background-color: white;
  }
  .disburse{
    cursor: pointer;
    font-family: cursive;
    font-size: 25px;
    color: rgb(60, 139, 139);
  }


.table{
    padding: 20px;
    text-align: center;
    
}

#t01 th{
    background-color: rgb(43, 126, 126);
    color: white;
    padding: 1em;
}

#t01 tr {
    /* background-color: rgb(243, 243, 243); */
    border-top: 1px solid rgb(150, 141, 141);
    border-bottom: 1px solid rgb(150, 141, 141);
    border-radius: 15px;
}

table, th, td{
    border-collapse: collapse;
    padding: 1em;
    text-align: center;
}

table tbody tr:nth-child(even){
    background-color: rgb(110, 110, 110);
    color: rgb(226, 226, 226);
	/* box-shadow: 1px 0px 3px 0px; */
}



.content{
    margin: 0px;
}


h1{
    color: rgb(65, 65, 65);
    padding: 20px;
}

.no-transaction{
    text-align: center;
    background-color: rgb(177, 177, 177);
    padding: 5em 0em;
    width: 90%;
    color: white;
    font-size: 18px;
    margin: auto;
}

 .back{
    text-align: center;   
}
.content button{
    color: white;
    background-color: rgb(14, 14, 14);
    padding: 0.7em 3em;
    border: none;
    cursor: pointer;
}

@media(max-width:800px) {
.table{
    overflow-x: scroll;  
    padding: 5px;  
}
.no-transaction{
    padding: 4em 0em;
    width: 100%;
    font-size: 16px;
}
}